.contact{
    padding:69px 0 73px 0;
    background-color:$sec-color;
    &__title{
        color: #ffffff;
        font-size: 38px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    &__button{
        display: block;
        margin: 18px auto 0 auto;
        width: 174px;
        height: 47px;
        border-radius: 10px;
        border: 3px solid #ffffff;
        background-color: $sec-color;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        &:hover{
            color:$sec-color;
            background-color:#fff;
        }
        &:focus{
            outline:none;
        }
    }
}