.promo{
    padding:120px 0 ;
    background:url(../img/main-bg.jpg) center center/cover no-repeat;
    min-height: 530px;
    &__title{
        color: #ffffff;
        font-size: 60px;
        font-weight: 700;
        line-height: 65px;
        text-align: center;
        text-transform: uppercase;
    }
    &__subtitle{
        margin-top: 31px;
        color: #cccccc;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    &__button{
        margin:0 auto;
        margin-top:50px;
    }
}