.title{
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}
.subtitle{
    color:$main-color;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
}